.tabs {
  background: $dark-color;
  padding-top: 1rem;
  border-bottom: 3px solid #3d3d3d;

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;

    & > div {
      padding: 1.5rem 0;

      &:hover {
        color: #fff;
        cursor: pointer;
      }
    }
  }

  &-border {
    border-bottom: 4px solid $primary-color;
  }

  p {
    font-size: 1.2rem;
    padding-top: 0.5rem;
  }
}

.tab-content {
  padding: 3rem 0;
  background: #000;
  color: #fff;

  &-item {
    display: none;
  }

  .show {
    display: block;
  }

  .tab-1-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .tab-2-content {
    &-top {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-gap: 1rem;
      justify-content: center;
      align-items: center;
    }

    &-bottom {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .tab-3-content {
    &-top {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-gap: 2rem;
      align-items: center;
      justify-content: center;
    }

    .table {
      width: 100%;
      margin-top: 2rem;
      border-collapse: collapse;
      border-spacing: 0;

      thead th {
        text-transform: uppercase;
        padding: 0.8rem;
      }

      tbody {
        tr {
          &:nth-child(odd) {
            background: #222;
          }

          td {
            color: #999;
            padding: 0.8rem 1.2rem;
            text-align: center;

            &:first-child {
              text-align: left;
            }
          }
        }
      }
    }
  }
}
